/* hyperlink code */

.navigation > a:hover {
  background-color: #1771CC;
  color: white;
}

a {
  text-decoration: none;
  color:inherit;
}

/* header code */

.header {
  text-align: center;
  background-color: #1771CC;
  padding: .75em;
  font-size: 60px;
  width: 4em;
  margin: 12px auto;
  border-radius: 12px;
  color: white;
  text-shadow: 4px 4px black;
}

/* navigation code */

.navigation {
  background-color: #CACBD5;
  text-align: center;
  padding: 1em;
}
