/* global code */

div {
  font-family: arial;
}

body {
  background-image: url("../images/brick.jpeg");
}


/* hyperlink code */

.navbutton > a:hover {
  background-color: #1C6EBF;
  color: white;
}

a {
  text-decoration: none;
  color:inherit;
}

/* header code */

.headertext {
  text-align: center;
  background-color: #2593FF;
  padding: 40px;
  font-size: 80px;
  width: 6em;
  margin: 12px auto;
  color: white;
  text-shadow: 4px 4px black;
  border-radius: 24px;
  opacity: .95;

}


/* navigation code */

.navigationbar {
  background-color: #CACBD5;
  text-align: left;
  flex-wrap: wrap;
  padding: .5em;
  display: flex;
  justify-content: space-around;
  border-style: solid;
  min-width: 300px;
  margin-right: 60px;
  margin-left: 60px;
  opacity: .9;
}

/* landing page code */

#landingpagepage {
  background-color: lightgrey;
}

.landingpagelogo {
  display: flex;
  justify-content: center;
}

.landingpagetext {
  text-align: center;
  font-size: 75px;
}

/* footer code */

.footer {
text-align: center;
margin-left: 120px;
margin-right: 120px;
padding: 12px;
color: black;
border-radius: 12px;
}


#footeremail {
  text-decoration: underline;
}
