/* hyperlink code */

.navigation > a:hover {
  background-color: #1771CC;
  color: white;
}

a {
  text-decoration: none;
  color:inherit;
}

/* header code */

.headertext {
  text-align: center;
  background-color: #1771CC;
  padding: 1em;
  font-size: 60px;
  width: 4em;
  margin: 12px auto;
  color: white;
  text-shadow: 4px 4px black;
  border-style: solid;
  
}


/* navigation code */

.navigation {
  background-color: #CACBD5;
  text-align: left;
  padding: .5em;
  display: flex;
  justify-content: space-around;
  margin-right: 200px;
  border-style: solid;


  <-- Research float tags to make this look cooler. Add social media images to the right of navigation bar -->
}
